/* unics.css */

#slideshow-area {
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.entries {
    border: solid #EEE 1px;
    width: 80%;
    margin-bottom: 20px;
    padding: 30px;
}

.entries h3 {
    font-size: 14pt;
    margin-bottom: 1em;
}

.entries h3 a {
    text-decoration: none;
}


.entries table {
    border-bottom-style: none;
}

.entries td {
    border-top-style: none;
    padding: 25px 10px 0 0;
    vertical-align: middle;
}

.entries td.eyecatch-thumb {
    width: 50px;
    text-align: center;
}

.widget_categories ul {
    border-style: solid;
    border-color: lightgray;
    border-width: 0 1px 1px 1px;
}

.cat-item a {
    display: block;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 0 0 0;
    padding: 20px 20px;
    margin: 0;
    text-decoration: none;
    font-size: large;
}

.cat-item:hover {
    background-color: lightgray;
}

#post-list {
    background-image: url('http://dummyimage.com/100');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#event-list {
    background-image: url('http://dummyimage.com/100');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#news-list {
    background-image: url('http://dummyimage.com/100');
    background-repeat: no-repeat;
    background-position: right bottom;
}

ul#footer-nav {
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.0;
    border: 1px solid lightgray;
}

ul#footer-nav li {
    float: left;
    border-right: 1px solid lightgray;
}

ul#footer-nav li a {
    display: block;
    padding: 15px 25px;
    margin: 0;
    text-decoration: none;
    font-size: 12pt;
}

ul#footer-nav li a:hover {
    background-color: lightgray;
}

hr.fancy {
    border: 0;
    height: 1px;
    background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    margin: 10px 0;
}

#welcome h2 {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    clear: left;
}

#welcome p {
    margin-left: 50px;
    margin-bottom: 30px;
}

#welcome img {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#primary {
    margin-top: 10px;
}